.comp-dropdown {
    margin: 24px 0;
}
.comp-dropdown h3{
    font-size: var(--text-size-14);
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
}
.comp-dropdown p{
    font-size: var(--text-size-14);
    margin: 0;
}
.comp-dropdown select{
    width: 100%;
    padding: 7px 12px;
    border: 1px solid var(--rightbar-input-border-color);
    border-radius: 8px;
    font-size: var(--text-size-14);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--leftbar-text-color);
    margin-top: 8px;
    appearance:none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" /></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px), 50%;
    background-size: 16px;
}

.comp-dropdown select:focus{
    outline: none;
    border: 1px solid var(--link-text-color);
}