.comp-sidebar {
    background-color: var(--leftbar-bg-color);
    color: var(--leftbar-text-color);
    height: 100%;
    width: 400px;
    padding: 24px;
}

.comp-sidebar .side-item {
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.comp-sidebar .side-item:hover {
    background-color: var(--history-hover-color);
}

.comp-sidebar .side-item:active {
    background-color: var(--history-pressed-color);
}