.comp-input {
  margin: 24px 0;
}
.comp-input h3 {
  font-size: var(--text-size-14);
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
}
.comp-input p {
  font-size: var(--text-size-14);
  margin: 0;
}
.comp-input input {
  width: calc(100% - 24px);
  padding: 8px 12px;
  border: 1px solid var(--rightbar-input-border-color);
  border-radius: 8px;
  font-size: var(--text-size-14);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var(--leftbar-text-color);
  margin-top: 8px;
}

.comp-input input:focus {
  outline: none;
  border: 1px solid var(--link-text-color);
}

.comp-input input::placeholder {
  color: var(--search-text-color);
}
