.comp-rightbar {
  background-color: var(--rightbar-bg-color);
  color: var(--text-color);
  min-width: 0;
  max-width: 0;
  height: calc(100vh - 92px);
  padding: 16px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  transition:
    min-width 300ms ease-in-out 0s,
    max-width 300ms ease-in-out 0s,
    padding 300ms ease-in-out 0s;
}
.comp-rightbar.open {
  min-width: calc(360px - 48px);
  max-width: calc(360px - 48px);
}
.comp-rightbar .inner-elements {
  overflow: auto;
  flex-grow: 1;
  margin: 0;
  padding: 0 24px;
  padding: 24px;
}
.comp-rightbar .title {
  font-size: var(--text-size-24);
  font-weight: 600;
  /* margin-bottom: 32px; */
  padding: 10px 24px;
}
.comp-rightbar .indicator {
  position: absolute;
  top: 40px;
  left: -24px;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--rightbar-input-border-color);
  background-repeat: no-repeat;
  background-position: 45% 50%;
  background-size: 16px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" /></svg>');
  display: block;
  transform: rotate(0deg);
  transition:
    left 300ms linear 0s,
    transform 300ms linear 0s;
}
.comp-rightbar:hover .indicator {
  display: block !important;
}
.comp-rightbar.open .indicator {
  display: none;
  right: -285px;
  transform: rotate(180deg);
}
.comp-rightbar .indicator:hover {
  background-color: var(--search-text-color);
}
