.comp-tabs .tab {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 8px 12px;
}

.comp-tabs .tab:hover {
    background-color: var(--rightbar-bg-color);
}

.comp-tabs .tab:active {
    background-color: var(--rightbar-input-border-color);
}

.comp-tabs .tab.selected {
    color: var(--button-bg-color);
}

.comp-tabs .indicator {
    --transTime: 0s;
    background-color: var(--button-bg-color);
    margin-bottom: 12px;
    height: 2px;
    width: 100%;
    color: transparent;
    font-size: 0;
    transition: margin-left var(--transTime) ease-in-out 0s, width var(--transTime) ease-in-out 0s;
    animation: delayColor 100ms linear forwards;
}

.indicator img {
    display: none;
}

@keyframes delayColor {
    0% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: var(--button-bg-color);
    }
}