.comp-leftbar{
    background-color: var(--leftbar-bg-color);
    color: var(--leftbar-text-color);
    min-width: 400px;
    display: flex;
    flex-direction: column;
    color-scheme: dark;
}
.comp-leftbar .inner{
    padding: 16px 24px;
    flex-grow: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.comp-leftbar .footer-flex{
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--search-bg-color);
}