.comp-textarea {
    margin: 24px 0;
}
.comp-textarea h3{
    font-size: var(--text-size-14);
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
}
.comp-textarea p{
    font-size: var(--text-size-14);
    margin: 0;
}
.comp-textarea .textarea-div{
    overflow: hidden;
    margin-top: 8px;
    border-radius: 8px;
    height: 108px;
    border: 1px solid var(--rightbar-input-border-color);
}
.comp-textarea .textarea-div textarea{
    width: calc(100% - 24px);
    border: none;
    padding: 8px 12px;
    font-size: var(--text-size-14);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 92px;
    background-color: var(--leftbar-text-color);
    resize: none;
}
.comp-textarea .textarea-div textarea:focus{
    outline: none;
    border: none;
}
.comp-textarea .textarea-div:focus-within{
    outline: none;
    border: 1px solid var(--link-text-color);
}

.comp-textarea textarea::placeholder{
    color: var(--search-text-color);
}