.comp-chat {
  color: var(--text-color);
  flex-grow: 1;
  display: flex;
  gap: 40px;
  flex-direction: column;
  position: relative;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 92px);
}

.mobile-menu {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 9;
  display: none;
}

.mobile-menu summary {
  list-style: none;
}

.mobile-menu .icon-button {
  background-color: var(--leftbar-bg-color);
  color: var(--leftbar-text-color);
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}

.mobile-menu svg {
  width: 24px;
  height: 24px;
}

.mobile-menu .inner-menu {
  position: absolute;
  width: calc(90vw - 52px);
  height: 80vh;
  top: 52px;
  background-color: var(--leftbar-bg-color);
  color: var(--leftbar-text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  border-radius: 8px;
}

.mobile-menu .inner-menu button {
  background-color: transparent;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 16px;
  font-size: var(--text-size-16);
  color: var(--leftbar-text-color);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.comp-chat .chat-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: 100vh;
}

.comp-chat .bubbles-flex {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    display: block;
  }
  .comp-chat .bubble-flex {
    overflow-x: hidden;
  }
}
