.comp-paragraph {
    margin: 24px 0;
}
.comp-paragraph h3{
    font-size: var(--text-size-14);
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
}
.comp-paragraph p{
    font-size: var(--text-size-14);
    margin: 0;
}