.comp-breadcrumbs {
    display: flex;
    width: 100%;
    gap: 12px;
    margin-bottom: 24px;
}

.comp-breadcrumbs button {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}
.comp-breadcrumbs button:hover{
    box-shadow: 0 0 0 1px var(--rightbar-input-border-color);
}

.comp-breadcrumbs .seperator {
    padding: 4px;
    color: var(--search-text-color);
    font-weight: 200;
}

.comp-breadcrumbs .seperator::after {
    content: '>';
}