python-multipart  # for uvicorn
mysql-connector-python  # MySQL driver written in Python which does not depend on MySQL C client libraries and implements the DB API v2.0 specification (PEP-249).
fastapi>=0.103.0
SQLAlchemy
uvicorn
python-dotenv
pyyaml>=6.0.2
click
requests
tabulate
git+https://github.com/samHoeger/genai-factory